<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.linux.fortunes.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.linux.fortunes.app.FortunesApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.linux.fortunes.MainActivity"
            android:launchMode="singleInstance"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:name="com.linux.fortunes.db.DBContentProvider" />

        <receiver android:name="com.linux.fortunes.FortunesAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="c66eaab3f868387fd222ad9fe502b903fbe676a3" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>


</manifest>
